/* Style général */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  font-family: 'Roboto', sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
  height: 100%;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Mode jour (clair) */
.app.light {
  background-color: #f0f0f0;
  color: #333;
}

.app.light nav ul li a {
  color: #007bff;  /* Liens bleus en mode jour */
}

.app.light nav ul li a:hover {
  background-color: #0056b3;  /* Survol des liens en mode jour */
  color: #fff;
}

/* Mode nuit (sombre) */
.app.dark {
  background-color: #121212;
  color: #f0f0f0;
}

.app.dark nav ul li a {
  color: #02db55;  /* Vert clair en mode nuit */
}

.app.dark nav ul li a:hover {
  background-color: #333;  /* Survol des liens en mode nuit */
  color: #fff;
}

/* Header */
header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

/* Titre du portfolio */
header h1 {
  font-size: 1.8rem;
  margin: 0;
}

/* Navigation */
nav ul {
  list-style-type: none;
  display: flex;
  gap: 20px;
}

nav ul li {
  display: inline-block;
}

/* Boutons en haut à droite */
header div.buttons {
  display: flex;
  gap: 15px;
}

header div.buttons button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

header div.buttons button:hover {
  background-color: #0056b3;
}

/* Style du logo GitHub */
header a img {
  width: 30px;
  filter: invert(100%);
  transition: filter 0.3s ease;
}

header a img:hover {
  filter: invert(100%) opacity(0.8);
}

/* Main content */
main {
  flex: 1;
  padding: 20px;
}

/* Footer */
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
  box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.1);
}
